<% provide(:title, "Top") %>

<div class="jumbotron center">
  <h1>勤怠管理システム</h1>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  <p>アカウント作成は<%= link_to "こちら", new_user_path %>から</p>
</div>